torch==1.13.0
spacy==3.4.2
pandas==1.5.1
matplotlib==3.6.2
seaborn==0.12.1
scikit-learn==1.1.3
nltk==3.7
wordcloud==1.8.2.2
dill==0.3.6
PyYAML==6.0
boto3==1.26.10
mypy-boto3-s3==1.26.0
fastapi==0.83.0
uvicorn[standard]==0.18.3